@font-face {
  font-family: flottflott;
}
@font-face {
  font-family: flottflott;
}
.staggered-list-content {
  width: 100%;
  /* margin: 2rem auto; */
  text-align: center;
}
.list {
  list-style-type: none;
  text-align: center;
  transform: translate(0%, 0%);
  display: flex-wrap;

  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
}
.list li {
  width: 70%;
  text-align: center;
  margin: auto;
}
.list li + li {
  margin-top: 1rem;
}
.listItem {
  width: 100%;
  cursor: pointer;
  margin: auto;
}
.listItemContent {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  padding: 1rem;
  width: 50%;
  text-align: center;
}
.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.3);
  margin-right: 2rem;
}
.avatarExpanded {
  width: 8rem;
  height: 8rem;
  margin-right: 0;
  margin-bottom: 1rem;
}
.description > div {
  background-color: hsla(0, 0%, 100%, 0.3);
  width: 14rem;
  border-radius: 6px;
  height: 0.5rem;
}
.description > div:nth-of-type(2) {
  width: 11rem;
}
.description > div:nth-of-type(3) {
  width: 8rem;
}
.description > div + div {
  margin-top: 1rem;
}
.expandedListItem .description {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.expandedListItem {
  cursor: pointer;
}
.expandedListItemContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-content {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.additional-content > div {
  opacity: 1;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.3);
  height: 100%;
}

.c {
  position: absolute;
  max-width: 100%;
  max-height: 300px;
  text-align: center;
  width: 100vw;
  height: 75vh;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}
.flott {
  font-family: flottflott;
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  height: 35vh;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
}
.hero-text > h1 {
  font-size: 17px;
  font-family: flottflott;
  text-shadow: 0 0 6px #ff0000, 0 0 5px #0000ff;
}

.hero-text > p {
  font-size: 12px;
  font-family: flottflott;
  text-shadow: 2px 2px 8px #ff0000;
}
.navbar {
  background-color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  margin: auto;
  text-align: center;
}

.navbar a {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 9px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.bg {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}
.zvc::-webkit-scrollbar {
  display: none;
}
h1 {
  font-family: "Leckerli One";
  text-shadow: 1px 1px 3px black, 1px 4px 5px #84bfae;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.pnkcol {
  color: #f257a0;
}
.pnkshw {
  text-shadow: 2px 2px 5px #f257a0;
}

.h1bs {
  font-size: 16px;
  font-family: "Cooper Black";
}

.abs {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
}
.marfx {
  margin-top: -30px;
}
.video {
  min-height: 280px;
}
.imgfxs {
  max-height: 100px;
  object-fit: contain;
}
.texture {
  background: url("https://tacotote.com/wp-content/themes/TacoTote/media/texture.png")
    #84bfae center top repeat;
  background-size: 80%;
  padding-bottom: 2em;
  position: relative;
  background-blend-mode: color-burn;
  filter: none;
}
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  overflow: auto;
  margin: auto;
  z-index: 1000;
}

[data-reach-dialog-content] {
  overflow: scroll;
  width: 375px !important;
  margin: auto !important;
  background: white;
  padding: 2rem;
  outline: none;
}
.pnkcol {
  color: #f257a0;
}
.orgcol {
  color: #f2a413;
}

.simple-trans-main {
  padding-top: 30px;
  display: flex;
  height: 550px;
  max-width: 375px;
}
.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  display: flex;

  max-width: 375px;
  margin-top: 40px;
  color: white;
  font-weight: 800;
}
.simple-trans-main > nav > ul {
  float: none;
  position: absolute;
  height: 400px;
  left: 50%;
  transform: translate(-50%, 0%);
}
